@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.card-info{
    color: #eaeaea;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Fredoka One', cursive;
}